<p>Select the number of the album to modify or view</p>
<form action="/images/new" method="post">
  <label for="album">Album #</label><br>
  <input type="text" id="album" name="album"<br>
  <input type="submit" value="Open Album">
</form>
