<h1>Pirate Rekon</h1>
<h3>Sorry something didn't function correctly.....</h3>
<p>It seems there was a problem. Please href="/index/#{session[:user_id]}">Return</a>, or logout and try again</p><br><br><br>

<a href="/logout">Logout</a>
