

<h1>Welcome <%=@user.username%></h1><br>

<p>Open an existing collection => <a href="/collections/:id">Open Collection</a></p><br>

<p>Create collection => <a href='/new'>Create Collection</a></p><br>
