<h1>Your Images</h1><br><br>
  <h3>Option 1.</h3><br>
  <p>Choose any two, we'll examine the likelihood that any one individual resides in both images.</p><br>

  <h3>Option 2.</h3><br>
  <p>Process, label and find every other image in your collection with that individual. Or search other collections.</p>

<%redirect '/error' if Image.all == nil%>
<head>
<style>

</style>
</head>
<body>
  <%result = cloud_search(session)%>
<%result["resources"].each do |image|%>

<img src=<%="#{image["url"]}"%> alt=<%="#{image["filename"].to_i}"%> width="128" height="128">
<p>Image Id: <%="#{image["filename"].to_i}"%> </p><br>
<%end%>
</body><br>
<p>Enter the numerical value only.</p><br>

<form action="/process" method="post">
  <label for="imageOne">Image One:</label><br>
  <input type="text" id="imageOne" name="imageOne"><br><br>
  <label for="imageTwo">Image Two:</label><br>
  <input type="text" id="imageTwo" name="imageTwo">
  <input type="submit" value="Compare">
</form><br><br>

<a href="/collections/<%="#{session[:user_id]}"%>/edit">Add Images</a>
