<h2>Enter a collection name and hit create!</h2>
<form action='/collections' method='post'>
  <label for="collection">Collection Name:</label><br>
  <input type="text" id="collection" name="collection"><br>
<input type="submit" value="Create">
</form>
