<h2 style="background-color:DodgerBlue;">Enter a collection name and hit create!</h2>
<form action='/collections' method='post'>
  <label style="color:Orange" for="collection">Collection Name:</label><br>
  <input type="text" id="collection" name="collection"><br><br>
<input type="submit" value="Create">
</form><br><br><br><br>
