<h1>Your Album <%="#{@user[:username]}"%> </h1><br><br>
<%@collection.each_with_index do |album, i|%>
  <h2><%puts%><%="....." + "#{album[:name]}" + "....."%></h2>
  <%end%><br><br>
  <a href="/collections/<%="#{@collection.first.user_id}"%>/edit">Add Images</a><br><br>
  <br><a href="/index/<%="#{@collection.first.user_id}"%>">Go to Album</a><br>
