<div class="container">
  <h1 style="color:DarkOrange;">Pirate Rekon</h1>
  <header><img src="https://res.cloudinary.com/argustwo/image/upload/v1592381476/Argus/Rekon_main.jpg" style="width:550px;height:500px;" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h4 style="color:Blue;">Pirate Rekon</h4>

    <div class="content">
      <p>Welcome to Pirate Rekon. Create an album of porch pirates,
        identify repeat offenders, compare with others'
      pirates and possible catch a pirate.</p>
    </div>

    <div class="container">
      <h2 style="color:DodgerBlue;">Get Started</h2>
    <h3><a href="/signup">SIGN UP  </a></h3><br>
      <h3><a href="/login">SIGN IN  </a></h3><br><br><br><br><br>
    </div>

  </div>
</div>
