<div class="container">
  <header><img src="/public/images/Rekon_main.jpeg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Pirate Rekon</h1>

    <div class="content">
      <p>Welcome to Pirate Rekon. Create an album of porch pirates,
        identify repeat offenders, compare with others'
      pirates and possible catch a pirate.</p>
    </div>

    <div class="container">
      <h2>Get Started Now</h2>
    <h3><a href="/signup">SIGN UP  </a></h3><br>
      <h3><a href="/login">SIGN IN  </a></h3>
    </div>

  </div>
</div>
